JAVA_HOME=$(expand_path target/graalvm-jdk-24)
if [ "$(uname)" = Darwin ]; then
  JAVA_HOME=$JAVA_HOME/Contents/Home
fi
PATH_add "$JAVA_HOME"/bin
export JAVA_HOME PATH
export PATH=$(realpath ./target):$PATH
