 {:deps {
    ; native builds
    com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}

    instaparse/instaparse {:mvn/version "1.5.0"}
    hiccup/hiccup {:mvn/version "2.0.0"}
    org.babashka/sci {:mvn/version "0.10.47"}
    babashka/fs {:mvn/version "0.5.26"}
    babashka/process {:mvn/version "0.6.23"}
    org.clojure/data.json {:mvn/version "2.5.1"}
    io.forward/yaml {:mvn/version "1.0.11"}
    io.github.tonsky/toml-clj {:mvn/version "0.1.0"}
    org.jsoup/jsoup {:mvn/version "1.21.1"}
    lt.jocas/clj-jq {:mvn/version "2.4.0"}
    io.github.nextjournal/markdown {:mvn/version "0.7.186"}}
  :paths ["."]
  :aliases {
    ; :default-deps {instaparse/instaparse {:mvn/version "1.5.0"}}
    ; :extra-paths ["parse.clj"]
    :build
    {:deps
     {io.github.clojure/tools.build {:mvn/version "0.10.9"}
      babashka/process {:mvn/version "0.6.23"}}
     :ns-default native}
    :test
      ; {:extra-paths ["parse.clj"]
      {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
      :exec-fn     kaocha.runner/exec-fn
      :exec-args   {:skip-meta :slow}}

      :watch
      {:exec-args   {:watch?     true
                    :skip-meta  :slow
                    :fail-fast? true}}}}
 ; :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
