#kaocha/v1
{:tests
 [{:id :unit, :test-paths ["test/unit"]
   :kaocha/source-paths ["flower"]
   :ns-patterns [".*"]}

  {:id :process, :test-paths ["test/process"]
   :kaocha/source-paths ["flower"]
   :ns-patterns [".*"]}]}
