{:version 1
 :settings
 {"rebuild-flower"
  {:default "graal"
   ; TODO: use malli here
   ; :options #{false "jar" "graal"}
   :help "whether to rebuild flower from source before building blossom"}

  "drafts"
  {:default false
   ; :options #{true false}
   :help "whether to build draft posts in addition to published posts"}}}
