{:version 1
 :settings
 {"rebuild-flower"
  {:default "graal"
   ; TODO: use malli here
   ; :options #{false "jar" "graal"}
   :help "whether to rebuild flower from source before building blossom"}

  "drafts"
  {:default false
   ; :options #{true false}
   :help "whether to build draft posts in addition to published posts"}}

 :redirects
 {"/keyboard" "https://configure.zsa.io/moonlander/layouts/KW9E9/latest/0"
  "/calendar" "https://calendar.google.com/calendar/u/0?cid=anluNTE0QGdtYWlsLmNvbQ"
  #_"/talks/bootstrapping.html" #_"https://www.youtube.com/watch?v=oUIjG-y4zaA"}}
