<html> <!-- TODO: lang= support, configurable in flower.toml -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <title> set automatically by a postprocessor </title> -->
    <!-- <meta name=description content="set automatically by a postprocessor TODO"> -->
    <!-- TODO: `meta name=author` support -->
    <!-- TODO: RSS feed support -->
      <!-- <link rel="alternate" type="application/atom+xml" title="{{ config.title | escape }}" href="/atom.xml"> -->
    <!-- TODO: favicon support -->
      <!-- <link rel="icon" type="image/x-icon" href="/favicon.jpg"> -->
    ◊head
  </head>
  <body>
    ◊body
    <flower-if when=◊flower.reflect/watching>
    <script>document.write('<script src="http://' +
    (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js"></script>')
    </flower-if>
  </body>
</html>
