<!-- {% import "macros.html" as macros %} -->
<!-- {% extends "default.html" %} -->

<!-- {% block content %} -->
◊(def content)«
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    ◊(let [attrs {:class "post-title" :itemprop "name headline"}
           more-attrs (if-let [d (:description post)]
            (assoc attrs :description d) attrs)]
      (html [:h1 more-attrs (hiccup.util/raw-string (title post))]))
		<!-- <h1 {%if page.description%}title="{{page.description}}"{%endif%} class="post-title" itemprop="name headline">{{ page.title | safe }}</h1> -->
    <p class="post-meta">
      <time datetime="◊(:date page)" itemprop="datePublished">
        ◊(:date page)
      </time>
      ◊(if-let [a (:author page)])«
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">◊a</span></span>
      »
      ◊(if-let [aud (-> page :extra :audience)])«
        • audience—◊aud
      »
      ◊(for [[term tags] (:taxonomies post)
             :when (= :tags term)
             ; TODO: oh my godddd this is a bug lmao
             tag tags])«
        • <a href="/tags/◊tag">◊tag</a>
      »
      <!-- {% for term, tags in page.taxonomies %} -->
      <!--   {% if term != "tags" %}{% continue %}{% endif %} -->
      <!--   {% for tag in tags %} -->
      <!--   {% endfor %} -->
      <!-- {% endfor %} -->
    </p>
  </header>

  <!-- {% if page.draft or page.extra.draft %} -->
  ◊(if (or (:draft page) (-> page :extra :draft)))«
  <aside class=secret><button class=close aria-label=Close title="Click here to dismiss">
    <strong>This is a draft post.</strong>
  </button></aside>
  »

  ◊(if-let [depth (-> page :extra :toc)])«
    <flower-toc depth=◊depth />
  »
<!-- 	{% if page.extra.toc %} -->
<!-- {{ macros::toc(toc=page.toc, depth=page.extra.toc) }} -->
<!-- 	{% endif %} -->

  <!-- ◊#_(for[[[term tags] (:taxonomies post) -->
  <!--        :when (= :tags term) -->
  <!--        tag tags] tag]){ -->
  ◊(if-let [part (->> post :taxonomies (filter #(= "computer-of-the-future" (first %))) second)])«
  <p>This post is part ◊part of a multi-part series called <a href="/computer-of-the-future">“the computer of the next 200 years”</a>.</p>
    ◊(if (-> page :extra :stub))«
    <p>This post is as-yet unfinished.</p>
    »
  <hr>
  »
  <!-- {% endfor %} -->

  <div class="post-content" itemprop="articleBody">
    ◊(:content page)
    <!-- ( -->
    <!-- {{ page.content | safe }} -->
  </div>
</article>
»

◊(embed "base.html" {'content content})
