◊(use 'expressions.constants 'expressions.meta)
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><a href="/">◊site-title</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a href="mailto:◊email">◊email</a></li>
            <li><a href="/assets/Resume.pdf">Resume</a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/◊github">
              <span class="icon icon--github">◊(include "icon-github.svg")</span>
              <span class="username">◊github</span>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/◊linkedin">
              <span class="icon icon--linkedin">◊(include "icon-linkedin.svg")</span>
              <span class="username">◊linkedin</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>◊(or (:description frontmatter) global-desc)</p>
      </div>
    </div>

  </div>

</footer>
