<!DOCTYPE html>
◊; NOTE: doctype must always be the first line of the document, it cannot be preceded by whitespace
◊(require '[expressions.constants :refer [lang]])
<html lang=◊lang>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name=description content="set automatically by a transformor TODO"> -->
    <!-- TODO: `meta name=author` support -->
    <!-- TODO: RSS feed support -->
      <!-- <link rel="alternate" type="application/atom+xml" title="{{ config.title | escape }}" href="/atom.xml"> -->
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
    ◊(if (resolve 'head) (eval 'head))
  </head>
  <body>
    ◊content
    ◊(when flower.reflect/*watching*)«
      <script>document.write('<script src="http://'
      + location.host.split(':')[0]
      + ':35729/livereload.js"></'
      + 'script>')</script>
    »
  </body>
</html>
